################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Innovation-Center.slnx/config/applicationhost.config
/.vs/Innovation-Center.slnx/FileContentIndex/80d7685a-8780-4fa1-a176-9a279a8878f3.vsidx
/.vs/Innovation-Center.slnx/FileContentIndex/b21d3229-6348-4185-a484-121e7fa21b47.vsidx
/.vs/slnx.sqlite
